<div class="main top_main">
    <h1>My Roundup Sites</h1>
    <p>自分の好きなまとめサイトを管理しよう！</p>
    <div class="button_container">
        <div class="btn">
            <%= link_to "ログイン", login_path %>        
        </div>
        <div class="btn">
            <%= link_to "ユーザー登録", new_user_path %>
        </div>
    </div>
</div>