header {
    height: 65px;
    background-color: white;
}

.header_let {
    float: left;
    
}

.header_right {
    float: right;
}

.header_right ul {
    display: flex;
}
.header_right li {
    list-style: none;
    margin-right:5px;
}

body {
    background-color: aquamarine;
}

.current_user {
    float: left;
}