.new_user_main {
    text-align: center;
    position: relative;
    min-height: 100vh;
}

.user_form {
    padding: 30px;
    height: 25%;
    background-color: aliceblue;
    width: 40%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}