<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>My Roundup Sites</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>

    <style type="text/css">
      * {
        padding: 0;
        margin: 0;
      }
      body {
        background-color: #111;
        olor: #333;
      }
      .title  {
      position: absolute;
      top: 40%;
      left: 50%;
      color: yellow;
      z-index: 2;
      text-shadow: 0 0 1000px;
      font-size: 80px;
      transform: translate(-50%, -50%);
      white-space: nowrap;
      }

      .button_container {
        display: flex;
        position: absolute;
        top: 28%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .btn {
        width: 200px;
        border: solid 1px yellow;
        border-radius: 5px;
        padding: 10px 5px;
        font-size: 25px;
        margin-right: 30px;
        text-align: center;
        animation: neon 5s linear infinite;
      }

      .btn a {
        color: rgb(38, 225, 45);
        display: block;
        text-decoration: none;
      }

      @keyframes neon {
    0% {
        border-color: transparent;
        opacity: 0.2
    }
    2%{
        border-color: rgb(38, 225, 45);
        opacity: 1;
    }
    4% {
        border-color: transparent;
        opacity: 0.2
    }
    8%{
        border-color: rgb(38, 225, 45);
        opacity: 1;
    }
    25%{
        border-color: transparent;
        opacity: 0.2
    }
    30%{
        border-color: rgb(38, 225, 45);
        opacity: 1;
    }
    35%{
        border-color: transparent;
        opacity: 0.2
    }
    50%{
        border-color: rgb(38, 225, 45);
        opacity: 1;
    }
    100% {
        border-color: rgb(38, 225, 45);
        opacity: 1;
    }
}


    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
